@model Proyecto.Presentacion.Models.Proveedor

@{
    ViewData["Title"] = "nuevoProveedor";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<style>
    .custom-title {
        background: linear-gradient(to right, #6c757d, #343a40); /* Degradado de fondo */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Sombra del texto */
        padding: 1rem; /* Espaciado interno */
        border-radius: 0.5rem; /* Esquinas redondeadas */
    }

    .form-group label {
        display: block; /* Asegura que el label ocupe todo el ancho disponible */
        text-align: left; /* Alinea el texto a la izquierda */
    }
</style>

<h1 class="text-center text-light mb-4 custom-title">Nuevo Proveedor</h1>



<div class="row align-items-center" style="padding: 0px 0px 0px 50px">
    <div class="col-md-6 order-md-1 p-4" style="border: 1px solid #ccc; border-radius: 10px;">
            <form asp-action="nuevoProveedor" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="raz_soc" class="control-label">Razón Social:</label>
                    <input asp-for="raz_soc" class="form-control" />
                    <span asp-validation-for="raz_soc" class="text-danger"></span>
                </div>
                 <div class="form-group form-inline">
                    <div class="col-md-6">
                        <label asp-for="ruc" class="control-label">RUC:</label>
                        <input asp-for="ruc" class="form-control" />
                        <span asp-validation-for="ruc" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="telefono" class="control-label">Teléfono:</label>
                        <input asp-for="telefono" class="form-control" />
                        <span asp-validation-for="telefono" class="text-danger"></span>
                     </div>
                </div>
                <div class="form-group">
                    <label asp-for="correo" class="control-label">Correo:</label>
                    <input asp-for="correo" class="form-control" />
                    <span asp-validation-for="correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="direccion" class="control-label">Dirección:</label>
                    <input asp-for="direccion" class="form-control" />
                    <span asp-validation-for="direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="foto_prov">Seleccionar imagen:</label>
                    <input type="file" name="foto_prov" id="foto_prov" accept="image/*" required class="form-control-file">
                </div>
                <div class="form-group text-center d-flex justify-content-center">
                <input type="submit" value="Crear" class="btn btn-primary mx-2 btn-sm" />
                <a href="@Url.Action("listadoProveedor", "Proveedor", new { id = ViewBag.proveedorId })" class="btn btn-danger mx-2 btn-sm">
                        Cancelar
                    </a>
                </div>
            </form>
    </div>
    <div class="col-md-6 order-md-2 d-flex justify-content-center">
        <img src="~/img/FONDOS/registroProveedor.png" alt="Alternate Text" width="100%" />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<style>
    body {
        background-color: #f8f9fa;
    }

    h1 {
        color: #007bff;
    }

    label {
        font-weight: bold;
    }

    input[type="submit"] {
        width: 100%;
    }
</style>
