@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<!-- Begin Page Content -->
<div class="bg-image" style="display: flex; justify-content: center; align-items: center;">
    <img src="~/img/FONDOS/principal.png" style="width: 65%; height: 88vh;" />
</div>
